@import './../../../style/common';

.store.container {
    background-color: var(--background-grey);

    .store_list {
        overflow: hidden;
        width: 100%;
        display: flex;

        .pagination_page {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(570px, 1fr));
            gap: 30px;
            margin-top: 70px;
            flex-shrink: 0;
            transform: translateX(0);
            transition: transform 0.7s ease;
            will-change: transform;
            height: max-content;

            @include mediaMaxWidth(1500) {
                grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
            }
            @include mediaMaxWidth(600) {
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            }

            &.prev { 
                .store_item {
                    transition: opacity 0.2s;
                    opacity: 0;
                    transition-delay: 0 !important;
                }
            }
            &.active {
                .store_item {
                    transition: opacity 1s;
                    transition-delay: 0.2s;
                    opacity: 1;
                }
            }
            &.next {
                .store_item {
                    transition: opacity 0.2s;
                    opacity: 0;
                }
            }
        }

        .store_item {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 45px;
            background-color: var(--white);
            border-radius: 20px;
            @include adaptiveProperty(padding, 50, 20);
            height: max-content;
            
            & .store_item_image {
                width: 100%;
                max-width: 250px;
                min-width: 250px;

                @include mediaMaxWidth(600) {
                    min-width: 200px;
                    max-width: 200px;
                }
            }
            
            .store_item_content {
                min-width: 282px;
                flex: 2;
                display: flex;
                flex-direction: column;

                @include mediaMaxWidth(500) {
                    min-width: 200px;
                }

                .head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    flex-wrap: wrap;

                    .name {
                        font-weight: 500;
                        @include adaptiveFont(30, 25);
                    }

                    .price {
                        font-size: 18px;
                        @include adaptiveFont(18, 16);
                        color: var(--blue);
                    }
                }
                
                .option_list {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    gap: 20px 15px;
                    margin-top: 34px;

                    .item_option {
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        .icon_container {
                            position: relative;
                            width: 40px;
                            height: 40px;
                            flex-shrink: 0;

                            & img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                object-position: center;
                            }
                        }

                        .description {
                            font-size: 14px;
                            color: var(--grey);
                        }
                    }
                }

                .colors_flex {
                    margin-left: 4px;
                    margin-top: 30px;
                    margin-bottom: 40px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    

                    .color {
                        height: 20px;
                        width: 20px;
                        flex-shrink: 0;
                        border-radius: 50%;
                    }

                    .memory{ 
                        font-size: 18px;
                        font-weight: 550;
                        padding: 10px;
                        border-radius: 30px;
                        background-color: var(--background-grey);
                    }
                }

                .main_button {
                    @include mediaMaxWidth(600) {
                        margin: 0 auto;
                        
                    }
                }
            }
        }
    }
}

.pagination {
    position: sticky;
    bottom: 30px;
    margin-left: auto;
    margin-top: 50px;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 90;

    @include mediaMaxWidth(992) {
        position: relative;
        margin-right: auto;
    }

    .page_container {
        width: 115px;
        flex-shrink: 0;
        overflow: hidden;
        height: 50px;
        border-radius: 30px;
        backdrop-filter: blur(5px);
        background: rgba(221, 221, 221, 0.59); 
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        
        .track {
            height: 100%;
            width: max-content;
            display: flex;
            align-items: center;
            padding: 0 7px;
            transition: 0.5s;
        }

        & .pagination_page_item {
            color: rgba(0, 0, 0, 0.5);
            width: 35px;
            text-align: center;
            flex-shrink: 0;
            font-size: 18px;
            font-weight: 500;
            transition: 0.3s;
            will-change: font-size;

            &.active {
                font-size: 24px;
                font-weight: 700;
                color: var(--black);
            }
        }
    }
}