@import './../../../style/common';

header {
    position: fixed;
    width: 100%;
    max-width: 900px;
    right: 0;
    @include adaptiveProperty(padding-left, 100, 15);
    @include adaptiveProperty(padding-right, 100, 15);
    @include adaptiveProperty(bottom, 50, 20);
    pointer-events: none;
    z-index: 100;
    display: flex;
    justify-content: flex-end;

    .header_wrapper {
        height: 58px;
        border-radius: 30px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.59);
        display: flex;
        align-items: center;
        pointer-events: all;
        width: 100%;
        transition: 0.6s ease;
        transition-delay: 0;

        .nav_wrapper {
            flex: 1;
            transition: 0.5s;
            transition-delay: 0.6s;
            overflow: hidden;

            & nav {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                @include adaptiveProperty(padding-left, 40, 25);
                @include adaptiveProperty(padding-right, 40, 25);
                
                & a {
                    position: relative;
                    @include adaptiveFont(16, 14);
                    color: var(--black);
                    font-weight: 500;
                    transition: 0.4s;
    
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: -8px;
                        transform: translateY(-50%) scale(0);
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: var(--blue);
                        transition: 0.4s;
                    }
    
                    &.active {
                        color: var(--blue);
    
                        &::before {
                            transform: translateY(-50%) scale(1);
                        }
                    }
    
                    @include mediaMinWidth(992) {
                        &:hover {
                            color: var(--blue);
    
                            &::before {
                                transform: translateY(-50%) scale(1);
                            }
                        }
                    }
                }
            }
        }

        &.close {
            width: 58px;
            transition-delay: 0s;

            & .nav_wrapper {
                overflow: hidden;
                width: 0;
                opacity: 0;
                transition-delay: 0s;
                transition: 0.3s;
            }
        }

        .burger_btn {
            flex-shrink: 0;
            height: 58px;
            width: 58px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(20px);
            background: rgba(255, 255, 255, 0.58);
            border-radius: 50%;
        }
    }
}